:root {
  --bgcolor: rgba(230, 230, 230, 0.911);
  --mainclr: #d66b07;
  --mainclrlgt: #e7af60;
  --secondaryclr: #2c5ada;
  --secondaryclrlgt: lightblue;
  --tertiaryclr: rgb(145, 233, 86);
  --tertiaryclrlgt: rgb(6, 88, 6);
  --textclr: #eee8e8;
  --textcnt: #f762ea;
  --textgray: rgba(114, 109, 109, 0.856);
  --fontsize1: 5rem;
  --fontsize2: 4rem;
  --fontsize3: 2.5rem;
  --fontsize4: 2.1rem;
  --fontsize5: 1.75rem;
  --fontsize6: 1.5rem;
  --fontsize7: 1.25rem;
  --fontsize8: 0.9rem;
  --fontsize9: 0.75rem;
}
.grid{
  display: grid;

}
.flex{
  display: flex;
}

.sideBar {
  margin: 0 0.5rem;
  gap: 3rem;
  background: linear-gradient( #2d77e683, rgba(204, 255, 86, 0.466), rgba(17, 105, 17, 0.603));
  padding: 0.75rem;
  border-radius: 0.5rem;
  height: 96%;
  justify-content: center;
  align-items: center;
  width: 200px;

  .logoDiv {
    padding: 0.5rem 1.5rem 0rem 1.5rem;
    cursor: pointer;
    font-size: var(--fontsize8);
  }
  

.menuDiv, .settingDiv{
  display: grid;
  align-items: center;
  gap: 0.45rem;

  .divTitle{
    padding: 0;
    margin: 0.26rem;
    font-size: var(--fontsize8);
  }
  .menuLists {
    display: grid;
    gap: 0.15rem;

  }

  .settingList{
    gap: 0.12rem;
  }

  .settingLists, .menuLists {
    .list-item{
      background-color: #c5e6e641;
      padding: 0.2rem 0.35rem;
      border-radius: 0px 2px 21px 0;
      position: relative;
      overflow: hidden;
      .menulink {
        font-size: var(--fontsize9);
        text-decoration: none;
        color: var(--secondaryclr);
        background-color: rgba(76, 226, 226, 0.116);
        .icons {
          font-size: var(--fontsize6);
          padding: 0.15rem;
          margin-right: 1rem;
          color: var(--secondaryclr);
          transition: font-size 0.5s ease-in-out;
        }
      }
    }
    .list-item:hover{
      margin-left: 0.75rem;
      transform: scale(1.1);
      .menulink{
        color: #000;
        .icons {
          color: #252525;
          font-size: var(--fontsize5);
        }
      }
    }
    .list-item::before{
      position: absolute;
      content: '';
      height: 100%;
      left: 0;
      top: 0;
      width: 5px;
      bottom: 0;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background: var(--tertiaryclr);
      opacity: 1;
      transition: width 1.3s ease, opacity 0.3s ease, transform 2s ease;
    }
    .list-item:hover:before {
      width: 500%; /* Stretch width on hover */
      opacity: 0.6;
      transform: scaleX(0.1);
    }
    
  }


}
.sideBarCard{
  width: 100%;
  padding: 0.1rem;
  text-align: center;
  position: relative;
  background-color: var(--bgcolor);
  .icons {
    font-size: var(--fontsize7);
  }
  .sideBarCardContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  p{
    font-size: var(--fontsize9);
    color: #000000c0;
  }
  .btn {
    border: none;
    outline: none;
    cursor: pointer;
    width: 90%;
    box-shadow: 0 2px 4px var(--tertiaryclr);
    background-color: var(--tertiaryclr);
    padding: .3rem 0.6rem;
    color: #252525;
    margin: 0.2rem;
  }
  
  .btn:hover {
    background-color: var(--textcnt);
    color: var(--textclr);
  }
}
}
}
